.Layout {
    height: 100%;
    display: grid;
    grid-template-rows: 5% 95%;
}


header {
    background-color: #f0f0f0;
}

main {
    direction: rtl;
    width: 100%;

}

@media (max-width: 768px) {
    main {
        height: 100%;
        margin: auto;
    }
}